/* DEFAULT FONT AND HEIGHT */
html, body{
  font-family: 'Arial', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth; /* to scroll the page smoothly */
}
/* MAIN CONTAINER */
.main{

  min-height: calc(100vh - 211px - 58px); /* this is to calculate minimum height of main container */
  margin-top: 6.5rem;
  position: relative;
}
.main-search-item{
  min-height: calc(100vh - 211px - 58px);
  margin-top: 6.5rem;
  position: relative;
}
 /* HEADER FOOTER COLOR */
 .header, .footer{
  background-color: #111;
}
.footer-wrapper{
  background-color: #292929;
}
h4.head-title{
  margin-left: 10px;
  margin-bottom: 0;
  font-family: 'VALORANT', sans-serif;
}
.logo:hover{
  color: #ff0000 !important;
} 
 /* NAV STYLE */
 .nav-links{
  font-size: 12px;
  font-weight: light;
  color: #999999 !important;
}
.nav-items{
  color: #fff !important;
}
.nav-items:hover{
  color: #d3d3d3 !important;
}
/* SEARCH INPUT DESIGN */
.search-bar{
  position: relative;
  width: 100%;
}
.search-input{
  width: 50%;
  box-shadow: none !important;
  border-radius: 0%;
}
 /* SEARCH BUTTON DESIGN */
  .btn-search{
    position: absolute;
    right: 25%;
    border-radius: 0%;
    outline: none !important;
    box-shadow: none !important;
    background-color: #ff4655 !important;
  }
  /* CART NOTIF DESIGN */
  .cart-notif{
    position: relative;
  }
  .notif-cart{
    position: absolute;
    background-color: #ff0000;
    height: 15px;
    width: 15px;
    font-size: 10px;
    top: 2%;
    right: 0%;
  }
  /* PROFILE DESIGN */
  .profile{
    cursor: pointer;
  }
  .profile:hover .username{
    color: #d3d3d3 !important;
  }
  .profile-img, .profile-pic{
    width: 20px;
  }
   /* WEAPON SCROLL */
   #weapons{
    scroll-margin-top: 6.5rem;  /* this is to have a margin to top when viewing weapon category */
    margin-top: 10rem;
  }
   /* VALORANT ADS BACKGROUND */
   .home-page{
    box-shadow: 0 0px 10px 0 #00000024;
    background-color: #0f1923;
    background-image: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltbded518020183769/5eb26f5389bac8148a8006cc/agent-background-generic.JPG'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bundles{
    max-height: 100%;
    height: 100%;
  }
  /*CAROUSEL STYLE */
  .carousel-item img{
    filter: brightness(60%); /* adjusted brightness to 60% to emphasize texts */
  }
  #carouselBundles{
    width: 100%;
  }
  /* SEE MORE BUTTON STYLE */
  .btn-see-more{
    margin-left: 0px;
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
  }
  .btn-see-more .arrow{
    transition: .3s;
  }

  .btn-see-more:hover .arrow{
    margin-left: 10px;
  }
   /* WEAPON CATEGORY CARD BACKGROUND COLOR */
   .bg-v-dark{
    background-color: #0f1923;
  }
  .card{
    width: 100% !important;
    border-radius: 0% !important;
  }
  .category-title, .agent-role{
    font-family: 'Anton', sans-serif; 
    font-size: 35px;
  }
  .gun-category{
    width: 18rem;
  }
  /* WEAPON STYLE */
  .weapon-link img{
    transition: .5s ease-in-out;
  }
  .weapon-link:hover img.img-product{
    transform: scale(1.2); /* zooming in when hovered */
    filter: brightness(150%); /* increased brightness to 200% to emphasize the filtered image*/
  }
  .weapon-link:hover img.img-category{
    transform: scale(1.2); /* zooming in when hovered */
    filter: brightness(150%); /* increased brightness to 200% to emphasize the filtered image*/
  }
  .weapon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100% !important;
  }
  .weapon-link a {
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  /* FILTER IMAGE STYLE */
  a span.bg-red {
    left: -15%;
    position: absolute;
    background-color: red;
    mix-blend-mode: darken; /* to blend red color in weapon category image */
    opacity: .9;
    width: 0%;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  a:hover span.bg-red {
    width: 150%;
  }
   /* VIEW ARSENAL BUTTON STYLE */
  .button-weapons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  .button-weapons a{
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset #ece8e14d;
    position: relative;
    margin: 10px 0;
    box-sizing: initial;
  }
  .button-weapons a:after, .button-weapons a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .button-weapons a:before {
    right: 0;
    left: initial;
  }
  .button-weapons a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .button-weapons a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    background: #ff4655;
    border: 1px solid #ff4655;
  }
  .button-weapons a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #ff4655;
    position: absolute;
    transition: 0.3s ease-out all;
  }
  .button-weapons a p span.bg {
    left: -5%;
    position: absolute;
    background: #0f1923;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  .button-weapons a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color:  #ece8e1;
  }
  .button-weapons a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  .button-weapons a:hover {
    color: #ece8e1;
  }
  .button-weapons a:hover span.bg {
    width: 110%;  /* view arsenal hover */
  }
  .button-weapons a:hover span.text:after {
    background: #ece8e1;
  }

  .button-weapons-bundle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  .button-weapons-bundle a{
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #0f1923;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset #0f1923;
    position: relative;
    margin: 10px 0;
    box-sizing: initial;
  }
  .button-weapons-bundle a:after, .button-weapons-bundle a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #fcfcfc;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .button-weapons-bundle a:before {
    right: 0;
    left: initial;
  }
  .button-weapons-bundle a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .button-weapons-bundle a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    background: #ff4655;
    border: 1px solid #ff4655;
  }
  .button-weapons-bundle a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
  }
  .button-weapons-bundle a p span.bg {
    left: -5%;
    position: absolute;
    background: #0f1923;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  .button-weapons-bundle a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color:  #ece8e1;
  }
  .button-weapons-bundle a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #030303;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  .button-weapons-bundle a:hover {
    color: #ece8e1;
  }
  .button-weapons-bundle a:hover span.bg {
    width: 110%;
  }
  .button-weapons-bundle a:hover span.text:after {
    background: #ece8e1;
  }
  /* VALORANT IMAGE AND BAR CODE STYLE */
  .valo-img, .bar-code{
    position: relative;
  }
  .valo-bar-code{
    left: -187px;
    opacity: .5;
    top:-50px;
    z-index: -1;
    position: absolute;
    filter: brightness(50%);
  }
  .valo-side-img {
    right: -300px;
    max-height: 1800px;
    opacity: .5;
    top: -100px;
    z-index: -1;
    position: absolute;
    overflow: hidden;
  }
  a span.bg-red {
    left: -15%;
    position: absolute;
    background-color: red;
    mix-blend-mode: darken;
    opacity: .8;
    width: 0%;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  .card:hover a span.bg-red {
    width: 150%;
  }
  .img-product{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    height: auto;
    width: 70%;
  }
  /* BUTTON ICONS STYLE */
  .btn-socmed{
    box-shadow: none !important;
  }

.login-body{
  background: url('../assets/images/neon-valorant-hd-wallpaper-uhdpaper.com-3@1@f.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.login-wrapper{
  width:100vw;
  height:90vh;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
}
.login-container{
  width: 35%;
  height: 100%;
  padding: 50px;
}
.login-input-field{
  height: 60px;
}
.stay-signed-in{
  cursor: pointer;
}
.btn-login{
  border-radius: 30%;
}
div.sign-up h6:hover{
  color: #1a1a1a !important;
}
.timer-label{
  font-family: 'Anton', sans-serif; 
  font-size: 30px; 
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.music{
  cursor: pointer
}